@media only screen and (max-width: 450px){
    
    :root{
        --margin-left: 0 !important;
    }

    nav{
        padding: 40px 30px;
    }

    .mob-menu{
        display: flex;
        flex-direction: column;
        align-content: center;
        border-radius: 7px;
        transition: .7s ease-in-out;
        width: 300px;
        background-color: white;
        padding: 20px;
        position: absolute;
        top: 110px;
        left: 50%;
        min-height: 200px;
        box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.75);
        transform: translateX(-50%);
    }

    .tran{
        transform: translateX(-540px);
    }

    .close{
        display: none;
    }

    .mobs{
        display: block !important;
        margin-left: auto;
    }
   
    .links::before{
        content: '';
        width: 260px;
        height: .5px;
        background-color: black;
        opacity: .6;
        position: absolute;
        left: -56px;
        top: -20px;
    }

    .links{
        margin: 35px auto 0 auto;
        position: relative;
        display: flex;
        align-items: center;
    }

    .pages{
        display: flex;
        height: 150px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .mob-menu ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

     

    ul li a{
        color: black !important;

    }

    ul li a::after{
        display: none;
    }

    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main-img{
        position: static;
        margin: 100px auto 30px auto;
        height: 250px;
        width: 100%;
    }

     nav .mob{
        filter: 
        invert(0%) 
        sepia(9%) 
        saturate(7500%) 
        hue-rotate(58deg) 
        brightness(0%) 
        contrast(109%) !important;
    }

   
    
    .main-text{
        max-width: 340px;
        margin: 0 auto;
    }

    h1{
        font-size: 35px;
    }

    
    .desk{
        display: none !important;
    }

    .show-porto,
    .contact,
    .work{
        border: 2px solid white;
    }

    .show-porto{
        margin-left: 5px;
    }

    .border{
        display: none !important; 
    }

    .show-porto:hover .before-porto{
        width: 100% !important;
    }
    
    .show-porto div a{
        line-height: 45px;
    }

    .about{
        padding: 50px 30px;
        min-height: 600px !important;
    }

    .show-porto:hover{
        width: 290px !important;
    }
    
    .about-heading{
        margin-top: 20px !important;
    }

    .about-text{
        margin-bottom: 20px !important;
    }
    .ham,
    .hero-section .mob{
        display: block !important;
    }

    .close{
        display: block !important;
    }

    .center{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-img{
        height: 120px;
    }

    .projects{
        min-height: 400px;
        padding: 40px 0;
    }

    .container{
        margin: 14px auto;
    }

    .slide-track{
        animation:  scroll 15s linear infinite;
    }

    .recent {
    margin: 63px auto 67px auto;
    }

     
    .hidden{
        display: none !important;
    }

    footer{
        padding: 70px 0 !important;
        overflow-x: hidden !important;
    }

    footer .content{
        padding: 0 !important;
    }

    .h2s{
        display: flex !important;
        flex-direction: column !important;

    }

}